## The following requirements were added by pip freeze:
beautifulsoup4==4.6.0
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
selenium==3.11.0
six==1.11.0
SQLAlchemy==1.2.5
